{{ form_start(form, {'attr': {'id': 'form_event_comment'}}) }}
<div class="modal-body">
    {{ form_row(form) }}
</div>
<div class="modal-footer">
    <button id="close_modal_comment" type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
    <button type="submit" class="btn btn-primary">Sauvegarder</button>
</div>
{{ form_end(form) }}
