<div class="modal fade" id="modalComment" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un commentaire</h5>
            </div>
            <div class="" id="comment-modal-body">
                Chargement ...
            </div>
        </div>
    </div>
</div>
