{% extends 'base.html.twig' %}

{% block title %}PABBA - Evènement
{% endblock %}
{% block body %}

	<a href="{{ path("event_create") }}" class="btn btn-primary">Créer</a>


	<div style="width:85%;margin:auto">


		<ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
			<li class="nav-item" role="presentation">
				<a class="nav-link active" id="today-tab" data-toggle="pill" href="#today" role="tab" aria-controls="today" aria-selected="false">En cours</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" id="toCome-tab" data-toggle="pill" href="#toCome" role="tab" aria-controls="toCome" aria-selected="true">A venir</a>
			</li>
		</ul>

		<div
			class="tab-content" id="pills-tabContent">

			{# Onglet des évènements en cours #}
			<div class="tab-pane fade show active" id="today" role="tabpanel" aria-labelledby="today-tab">
				<div class="row row-cols-3">
					{% for event in events %}
						{% if isToday(event.eventAt) == 0 %}
							<div class="col mb-4">
								{% include "event/_event_card.html.twig"%}
							</div>
						{% endif %}
					{% endfor %}
				</div>

			</div>

			{# Onglet des évènements à venir #}
			<div class="tab-pane fade" id="toCome" role="tabpanel" aria-labelledby="toCome-tab">

				<div class="row row-cols-3">
					{% for event in events %}
						{% if isToday(event.eventAt) == 1 %}
							<div class="col mb-4">
								{% include "event/_event_card.html.twig" with { "event" : event } %}
							</div>
						{% endif %}
					{% endfor %}
				</div>

			</div>

		</div>


	</div>


{% endblock %}
