{% extends 'base.html.twig' %}

{% block title %}PABBA - Evènement{% endblock %}
{% block body %}

    <a href="{{ path("event_create") }}" class="btn btn-primary">Créer</a>
{#    <a href="{{ path("event_update") }}" class="btn btn-warning">Modifier</a>#}

{% endblock %}
