<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="bin/.phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="8.5" />

        <!-- ###+ algolia/search-bundle ### -->
        <!-- Create a free account on www.algolia.com -->
        <!-- and get your credentials from the API Keys tab. -->
        <env name="ALGOLIA_APP_ID" value="..."/>
        <env name="ALGOLIA_API_KEY" value="..."/>
        <!-- ###- algolia/search-bundle ### -->

        <!-- ###+ mailjet/mailjet-bundle ### -->
        <env name="MAILJET_APIKEY_PUBLIC" value="your-api_key"/>
        <env name="MAILJET_APIKEY_PRIVATE" value="@@your-secret_key"/>
        <!-- ###- mailjet/mailjet-bundle ### -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <!-- Run `composer require symfony/panther` before enabling this extension -->
    <!--
    <extensions>
        <extension class="Symfony\Component\Panther\ServerExtension" />
    </extensions>
    -->
</phpunit>
