{% extends 'base.html.twig' %}

{% block body %}

    {% if connect == 0 %}
        <h2>Accès interdit</h2>
        <p>Vous devez vous connecter
            <a href="{{ authUrl }}">Autoriser</a>
            l'application à acceder à votre compte youtube
        </p>
    {% endif %}
{% endblock %}