@import "~bootstrap/scss/bootstrap.scss";
@import "~toastr/build/toastr.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

@import "navbar.scss";
@import "input.scss";
@import "button.scss";
@import "modal.scss";

body {
  background-color: #F6F6F6;
}

form {
  width: 90%;
}

.mobile-card-form form {
  width: 100%;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: unset!important;
  width: 90%;
}

.container-mobile {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: unset!important;
  width: 100%;
}

.form-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-left {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.card-right {
  width: 60%;
}
