.navbar {
  background: linear-gradient(90deg, #50A7C2 0%, #B7F8DB 100%) !important;
  justify-content: unset!important;

  #logo {
    width: 3% !important;
    padding: 5px;
  }

  #logo-mobile {
    width: 16% !important;
  }

  a {
    color: #1D7590 !important;
  }

  .title {
    font-size: 32px;
    line-height: 44px;
    margin-left: 10px;

    color: #FFFFFF !important;
  }

  .navbar-mobile {
    background: linear-gradient(90deg, #50A7C2 0%, #B7F8DB 100%);
    color: #FFFFFF !important;
  }

  li.active {
    a {
      color: #105367 !important;
      font-weight: bold !important;
    }

    border-bottom: #105367 2px solid;
  }
}

.secondary-navbar {
  z-index: 1!important;
  position: sticky!important;
  top: 70px!important;
  background: white !important;
  height: unset!important;

  ol.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 0 !important;
    list-style: none;
    background-color: transparent !important;
    border-radius: 0 !important;

    li {
      font-size: 22px !important;
      line-height: 24px !important;
      color: #105367 !important;

      a {
        font-size: 22px !important;
        line-height: 24px !important;
        color: #105367 !important;
      }
    }
  }
}