{% extends 'base.html.twig' %}

{% block title %}PABBA - Tutoriels
{% endblock %}

{% block body %}

	<div class="container">
		<button id="open-filter" type="button" data-toggle="modal" data-target="#filterModal" class="btn filter-btn"><i
				class="bi bi-filter"></i>Filtres
		</button>
		<div class="modal right fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog ">
				<div class="modal-content" id="filter-content">

				</div>
			</div>
		</div>
		<div class="row" id="tutorial-list">

		</div>
	</div>
	<button type="button" class="btn add-btn">
		<a href="{{ path('tutorial_create') }}">
			<i class="bi bi-plus-circle-fill"></i>
		</a>
	</button>
{% endblock %}

{% block javascripts %}

	{{ encore_entry_script_tags("searchTutorial") }}

{% endblock %}
