{% extends "emails/base.html.twig" %}

{% block title %}
    {{ subject }}
{% endblock %}

{% block content %}
    <tr>
        <td style="padding: 0 30px 20px">
            <p style="margin-bottom: 10px;">Bonjour {{ user.firstname ~ ' ' ~ user.lastname }}</p>
            <p style="margin-bottom: 10px;">Un nouveau message vous a été adressé. Il concerne la modération pour la location {{ moderation.rent }}</p>
            <a href="{{ url('moderation_show', {'moderation': moderation.id}) }}" style="background-color:#f39c12;border-radius:4px;color:#ffffff;display:inline-block;font-size:13px;font-weight:600;line-height:44px;text-align:center;text-decoration:none;text-transform: uppercase; padding: 0 30px">Consulter</a>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 30px 40px">
            <p style="margin: 0; font-size: 13px; line-height: 22px; color:#000000;">Cet email a été envoyé automatiquement, merci de ne pas y répondre</p>
        </td>
    </tr>
{% endblock %}
