{% extends "emails/base.html.twig" %}


{% block title %}
    {{ subject }}
{% endblock %}

{% block content %}
    <tr>
        <td style="padding: 0 30px 20px">
            <p style="margin-bottom: 10px;">Bonjour {{ user.email }}</p>
            {% if firstLogin is defined and firstLogin %}
                <p style="margin-bottom: 10px;">Votre compte sur l'application a été créé.</p>
                <p style="margin-bottom: 10px;">Cliquez sur le lien suivant pour activer votre compte</p>
            {% else%}
                <p style="margin-bottom: 10px;">Vous avez fait une demande de changement de mot de passe.</p>
                <p style="margin-bottom: 10px;">Vous pouvez le faire depuis le lien suivant</p>
            {% endif %}

            <a href="{{ url('resetPassword', {'id': user.id, 'token': user.token}) }}" style="background-color:#f39c12;border-radius:4px;color:#ffffff;display:inline-block;font-size:13px;font-weight:600;line-height:44px;text-align:center;text-decoration:none;text-transform: uppercase; padding: 0 30px">Accéder</a>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 30px">
            <h4 style="font-size: 15px; color: #000000; font-weight: 600; margin: 0; text-transform: uppercase; margin-bottom: 10px">ou</h4>
            <p style="margin-bottom: 10px;">Si le bouton ne s'affiche pas correctement, coller ce lien dans votre navigateur</p>
            <a href="#" style="color: #f39c12; text-decoration:none;word-break: break-all;">{{ url('resetPassword', {'id': user.id, 'token': user.token}) }}</a>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 30px 40px">
            <p style="margin: 0; font-size: 13px; line-height: 22px; color:#000000;">Cet email a été envoyé automatiquement, merci de ne pas y répondre</p>
        </td>
    </tr>
{% endblock %}
