{% extends 'base.html.twig' %}

{% block title %}PABBA - Lieux{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
{% endblock %}

{% block body %}
    <div class="container my-5 pt-5">
        <button type="button" data-toggle="modal" data-target="#filterModal" class="btn filter-btn">
            <i class="bi bi-filter"></i> Filtres
        </button>

        <div class="row" id="place-list">

        </div>

        <!-- Modal -->
        <div class="modal right fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content" id="filter-content">

                </div>
            </div>
        </div>

        <button type="button" class="btn add-btn">
            <a href="{{ path('place_create') }}">
                <i class="bi bi-plus-circle-fill"></i>
            </a>
        </button>
     </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
    {{ encore_entry_script_tags('map') }}
{% endblock %}
